
<h2 id='navbar_logo'>Rails Test</h2>

<nav>
  <ul>
    <li><a href='/home'>Home</a></li>
    <li><a href='/about'>About</a></li>
    <li><a href='/faq'>Faq</a></li>
    <li><a href='/calc'>Calculate</a></li>
  </ul>
</nav>